server:
  port: 3000
  host: 127.0.0.1
database:
  host: {{.DB_HOST | default "mysql.mysql.svc.cluster.local"}}
  port: 3306
  user: {{.DB_USER | default "root"}}
  password: {{.DB_PASSWORD | default "root"}}
  database: {{.DB_DATABASE | default "zdv"}}
  automigrate: true
  ca_cert: {{.DB_CA_CERT | default ""}}
discord:
  webhooks:
    online: "https://discordapp.com/api/webhooks/..."
    staffing_request: "https://discordapp.com/api/webhooks/..."
  client_id: "..."
  client_secret: "..."
email:
  host: {{.EMAIL_HOST | default "localhost"}}
  port: {{.EMAIL_PORT | default "25"}}
  user: {{.EMAIL_USER | default "root"}}
  password: {{.EMAIL_PASSWORD | default "root"}}
  from: {{.EMAIL_FROM | default "root@localhost"}}
facility:
  activity:
    enabled: false
    min_hours: 2
    period: 2
    run_on_day : 1
    run_at_hour: 0
    run_at_minute: 0
  feedback:
    pending_feedback: "feedback"
    feedback_broadcast: "announcement"
  visiting:
    discord_webhook_name: "visitor"
    rating_min: S1
  stats:
    enabled: true
    discord_broadcast: true
    discord_broadcast_webhook_name: "online"
    prefixes:
    - APA
    - ASE
    - BKF
    - BJC
    - CFO
    - COS
    - CPR
    - CYS
    - DEN
    - EGE
    - FMN
    - FNL
    - GJT
    - GUR
    - PUB
    - RAP
    - RCA
  traffic_alerts:
    enabled: false
    entries: []
session:
  cookie:
    name: "zdv_session"
    key: "{{.SESSION_KEY | default "zdv_session"}}"
    max_age: 604800
    domain: "{{.SESSION_DOMAIN | default ".denartcc.org"}}"
    path: "/"
storage:
  access_key: {{.STORAGE_ACCESS_KEY | default "12345"}}
  secret_key: {{.STORAGE_SECRET_KEY | default "12345"}}
  bucket: {{.STORAGE_BUCKET | default "denartcc"}}
  region: {{.STORAGE_REGION | default "us-east-1"}}
  endpoint: {{.STORAGE_ENDPOINT | default ""}}
oauth:
  base_URL: "{{.OAUTH_BASEURL | default "https://auth.denartcc.org" }}"
  endpoints:
    token: "/oauth/token"
    user: "/oauth/user"
    authorize: "/oauth/authorize"
  client_id: "{{.OAUTH_CLIENT_ID | default "zdv"}}"
  client_secret: "{{.OAUTH_CLIENT_SECRET | default "zdv"}}"
  my_base_URL: "{{.OAUTH_MY_BASE_URL | default "https://api.dev.denartcc.org" }}"
vatusa:
  facility: "{{.VATUSA_FACILITY | default "ZDV"}}"
  api_key: "{{.VATUSA_API_KEY | default "zdv"}}"
